/* Estilos para la barra superior */
.barra-superior {
  background-color: #3e3e3e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  /* padding: 1px; */
  display: flex;
  align-items: center;
}

.logo {
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2cc0be;
  height: 12vh;
  width: 14vw;
  font-size: 10;
}

.logo h1 {
  font-size: 24px;
}

.custom-dropdown {
  margin: 10px;
  width: 210px;
  color: #333;
  background-color: #f2f2f2;
  /* border: 0px solid #ccc; */
}

.info {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-left: auto;
  padding: 20px;
}

 /* Estilos para el contenido principal */
 .contenido-principal {
  display: flex;
  height: 86vh;
  /* flex-wrap: wrap; */
  padding: 10px;
  margin-top: 12vh;
}

/* Estilos para la columna izquierda */
.contenido-izquierda {
  /* width: 20%; */
  background-color: #f9f9f9;
  padding: 10px;
  height: 100%;
}



/* Estilos para la columna derecha */
.contenido-derecho {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.graficotopdelitos{
width: 100%;
padding: 10px;
background-color: #f2f2f2;
}

.radios-barras-top {
  /* Agrega tus estilos personalizados aquí */
  /* Ejemplo de estilos CSS */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px; 
}

.radios-barras-top label {
  /* Estilos para los labels */
  /* Ejemplo de estilos CSS */
  display: block;
  margin-bottom: 10;
  font-size: 11px;
}

/* Estilos para cada fila de contenido */
.fila {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filasingular{
  width: 100%;
}
/* Estilos específicos para cada div de la parte derecha */
.nacional1,
.nacional2,
.regional1,
.regional2,
.regionalline,
.nacionalline,
.cNacionalvo,
.cNacionalva,
.cRegionalva,
.cRegionalvo,
.topmenos,
.inmigracion {
  width: 48%;
  padding: 10px;
}

.topmas{
  display: flex;
  background-color: #f2f2f2;
  width: auto;
  padding: 10px;
}

.regionalline{
  background-color: #2cc0be
}

.nacionalline{
  background-color: #3e3e3e;
}

.cNacionalva {
  background-color: #3e3e3e;
}

.cNacionalvo {
  background-color: #3e3e3e;
}

.cRegionalvo {
  background-color: #2cc0be;
}

.cRegionalva {
  background-color: #2cc0be;
}

.topmenos {
  background-color: #f2f2f2;
}

.inmigracion {
  background-color: #eaeaea;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
